name: Publish
on:
  workflow_dispatch:
  push:
    branches:
      - main
      
jobs:
  Publish:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
        
      - name: Restore
      - run: dotnet restore ./WebApp.sln
      
      - name: Build
      - run: dotnet build ./WebApp.sln
      
      - name: Publish
      - run: dotnet publish ./WebApp.sln
     

    
