name: Publish
on: 
  workflow_dispatch:
  push:
    branches:
      - main
env:
  AZURE_WEBAPP_NAME: 'ParthJunior2'
  AZURE_WEBAPP_PACKAGE_PATH: './publish'
  AZURE_LOAD_TESTING_RESOURCE_NAME: 'parthjunior2loadtesting'
  LOCATION: 'EAST US'
  APP_INSIGHT_LOCATION: 'EAST US'

    
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'
      
      - name: Restore
        run: dotnet restore ./WebApp.sln
      
      - name: Build
        run: dotnet build ./WebApp.sln --configuration Release --no-restore
        
      - name: Publish
        run: dotnet publish ./WebApp.sln --configuration Release --no-build --output ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
      
      - name: Deployment
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

      
